*{
    margin: 0;
    padding: 0;
}
html, body {
    height: calc(100% - 10px);
}
.flex-item {
    display: flex;
    flex-flow: row wrap;
    background-color: DodgerBlue;
    border: fuchsia solid 1px;
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
}
.flex-item > div{
    background-color: #a71818;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.empty{
    width: 100%;
    height: 15px;
}
.big {
    flex: 1;
}

.logo {
    margin-right: auto;
}

.side {
    width: 250px;
}

.flex {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.nav{
    text-align: right;
    margin: 0 10px

}

.nav a{
    
    margin: 0 100px;
    font-size: 32px;
    color: white;

}

body {
    display: flex;
    flex-direction: column;
}

nav, .footer .flex-item {

    height: 100px;
   
}